# https://www.toptal.com/developers/gitignore/api/macos에서 생성됨
# https://www.toptal.com/developers/gitignore?templates=macos에서 편집하세요

### 맥OS ###
# 일반적인
.DS_스토어
.애플더블
.LS오버라이드

# 아이콘은 두 개의 \r로 끝나야 합니다.
상


# 썸네일
._*

# 볼륨의 루트에 나타날 수 있는 파일
.문서 수정-V100
.fseventsd
.스포트라이트-V100
.임시품목
.쓰레기
.볼륨아이콘.icns
.com.apple.timemachine.표시하지 않음

# 원격 AFP 공유에 잠재적으로 생성된 디렉토리
.애플DB
.애플데스크톱
네트워크 휴지통 폴더
임시 품목
.apdisk

### macOS 패치 ###
# iCloud에서 생성된 파일
*.아이클라우드

# https://www.toptal.com/developers/gitignore/api/macos의 끝