@use "../styles/global/base";
@use "../styles/compositions";
@use "../styles/utilities";

body {
  font-size: var(--step-0);
  font-weight: var(--font-regular);
  line-height: 1;
  letter-spacing: -0.025em;
}
li {
  list-style: none;
}
a {
  color: #222;
  text-decoration: none;
}
@keyframes loader-ani {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
.loader-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10000;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  background: #fff;
  opacity: 0;
  transition: 0.5s;
}
.before-load .loader-wrapper {
  opacity: 1;
}
.loader {
  width: 30px;
  height: 30px;
  border: 5px solid #222;
  border-color: #222 transparent transparent;
  border-radius: 50%;
  animation: loader-ani 1s infinite linear;
}

.wrap {
  --wrapper-max-width: 120rem;
  --gutter: var(--space-s-xl);
  padding: 0;
}
.inner {
  position: relative;
  max-width: 90rem;
  margin: 0 auto;
}
.top-menu {
  margin: 0 5rem;
}
.top-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 6.375rem;
  // padding: 0 5rem;
}
h1 {
  font-size: var(--step-1);
  font-weight: var(--font-medium);
  line-height: var(--leading-s);
}
// .content-background {
//   position: relative;
// }
.background-text {
  position: absolute;
  inset: 0;
  z-index: 1;
  display: flex; //그냥 정렬하려고 할때도 작동하는구만
  align-items: center;
  color: #ffffff;
}
.content-main-text {
  padding: 0 5rem;
  margin: 0 auto;
  font-size: var(--step-2);
  font-weight: var(--font-bold);
  line-height: var(--leading-s);
  text-align: center;
}
.bottom-line {
  width: 10%;
  padding: 0;
  border-bottom: 10px solid #ffc9b4;
}
.top-nav {
  position: static;
  display: flex;
}
.menu-toggle {
  display: none; /* 데스크톱에서는 숨김 */
  padding: 0.5rem;
  font-size: 2.5rem; /* ← 아이콘 크기 키움 */
  line-height: 1;
  cursor: pointer;
  background: none;
  border: none;
}

.top-nav li {
  padding: 0 1.875rem;
  padding-right: 0;
}
.top-nav li a {
  font-size: 1.125rem;
  font-weight: var(--font-medium);
}
.content-image {
  position: relative;
  width: 100vw;
  margin: 0 auto;
  margin-left: calc(50% - 50vw);
  overflow: hidden;
}
.content-image img {
  display: block;
  width: 100%;
  height: auto;
}
.box {
  width: 100vw;
  height: 7.75rem;
  padding: 0 5rem;
  margin: 0 5rem;
  margin-left: calc(50% - 50vw);
  background-color: #7e6257;
}
.box-text-sub {
  padding-block-start: 1.8rem;
  font-size: calc(var(--step-1) - 0.7rem);
  color: #ffffff;
  text-align: center;
}
.content-whyres {
  margin: 0 5rem;
}
.last-content-whyre {
  margin: 0;
}
.whyres {
  margin-block-start: 1em;
  margin-block-end: 1em;
  font-size: var(--step-3);
  font-weight: var(--font-bold);
  line-height: var(--leading-s);
}
.res-wrap-one {
  margin-block-end: 4em;
}
.res-image {
  max-width: 100%;
  height: auto;
  padding: 0;
  margin: 0 auto;
}
.res-title {
  margin-block-start: 0.6em;
  margin-block-end: 0.2em;
  font-size: var(--step-2);
  font-weight: var(--font-medium);
  line-height: var(--leading-s);
  color: #222;
  text-align: left;
}
.sub-res-text {
  font-size: calc(var(--step-1) - 0.5rem);
  color: #888888;
  text-align: left;
}
.srt {
  margin-block-end: 0.8em;
}
.sub-res-two {
  margin-block-start: 1.2em;
  margin-block-end: 0.8em;
  font-size: calc(var(--step-1) - 0.5rem);
  color: #888888;
}
.chulcha-wrap {
  display: flex;
}
.nasa {
  display: block;
  margin-block-start: 1em;
  margin-right: 3rem;
  font-size: calc(var(--step-1) - 0.5rem);
  line-height: -1;
  color: #666666;
  text-align: center;
  border-bottom: 1px solid #666666;
}
.res-dd {
  margin-block-start: 1.25rem;
}
.chulcha {
  display: block;
  margin-block-start: 1em;
  margin-right: 3rem;
  font-size: calc(var(--step-1) - 0.5rem);
  line-height: -1;
  color: #666666;
  text-align: center;
  border-bottom: 1px solid #666666;
}
footer {
  width: 100vw;
  height: 10rem;
  padding: 0 5rem;
  margin-left: calc(50% - 50vw);
  background-color: #f2f2f2;
}
.footer-logo {
  display: flex;
  align-items: center;
  height: 100%; // 영역이 전체 채워져서 정렬 됌
}
footer .logo-text-right {
  margin-right: 2.375rem;
}
.footer-wrap .footer-map {
  font-size: calc(var(--step-1) - 0.7rem);
  color: #888888;
}

@media screen and (max-width: 840px) {
  .top-nav {
    display: none;
    color: #fff;
  }

  .top-nav.active {
    position: fixed;
    top: 5.2rem; /* header 높이와 동일 */
    left: 50%;
    z-index: 1000;
    display: flex;
    gap: 3rem;
    justify-content: center;
    width: 100vw;
    padding: 1.5rem 0;
    background: rgba(0, 0, 0, 0.6);
    transform: translateX(-50%);
  }
  .menu-toggle {
    display: block;
  }
}
